<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>MuchoMasFacilFileManagerBundle Demo</title>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme">
        <link type="text/css" href="{{ asset('bundles/muchomasfacilfilemanager/css/fileuploader.css') }}" rel="stylesheet" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
        <script src="{{ asset('js/jquery.blockUI.js') }}"></script>

        <script type="text/javascript" src="{{ asset('bundles/muchomasfacilfilemanager/js/fileuploader.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>

