//makes use of jquery.blockUI.js
function mmf_fm_block(settings, blockUI_target)
{
    if(blockUI_target){
        $(blockUI_target).block(settings);
    }
    else{
        $.blockUI(settings);
    }
}

//makes use of jquery.blockUI.js
function mmf_fm_unblock(blockUI_target)
{
    if(blockUI_target){
        $(blockUI_target).unblock();
    }
    else{
        $.unblockUI();
    }
}

function mmf_fm_load(container_id, url, data)
{
    mmf_fm_block({
            message: '<p>{{ 'Loading' | trans({}, (bundle_name | lower)) }}...</p>',
            css: { /*backgroundColor: '#f00', color: '#fff',*/ font: '10px bold Arial, Helvetica, sans-serif' }
    }, '#' + container_id);

    $('#' + container_id).load( url, data, function(responseText, textStatus, XMLHttpRequest) {
        if (textStatus == "error") {
            alert('{{ 'Error making an Ajax call' |  trans({}, (bundle_name | lower)) }}'+ ': '+ XMLHttpRequest.status + " " + XMLHttpRequest.statusText);
        }
    });

    mmf_fm_unblock('#' + container_id);
}
