{% extends bundle_name ~ "::layout.html.twig" %}

{% block body %}

<form>
{{ 'Double click text input to enter file manager' | trans({}, (bundle_name | lower)) }}
<input type="text" id="input_name" class="mmf-fm">

<br />

{{ 'Double click text input to enter file manager' | trans({}, (bundle_name | lower)) }}
<input type="text" id="input_name_2" class="mmf-fm">

</form>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){

    var $mmf_fm_container = $('<div id="mmf-fm-dialog"></div>');

    $('.mmf-fm').dblclick(function(){
        //$mmf_fm_container.remove();
        $(this).after($mmf_fm_container);
        mmf_fm_load('#' + $mmf_fm_container.attr('id'),'{{ path( 'mmf_fm', { 'url_safe_encoded_params': url_safe_encoded_params }) }}');
        });

});//closes $(document).ready ...
//]]>
</script>

{% endblock %}
